body{
  background-color: #EBECF0;
}

html{
  min-height:100%;
}

.App {
  padding: 0;
  text-align: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.link:hover {
  color: rgb(114, 113, 113);
  background: none;
}

.title {
  color: rgb(166, 165, 163);
}

.calendar {
  box-shadow: 8px 8px 30px grey;
  margin-bottom: 60px;
  margin-top: 30px;
}

.main-content {
  min-height: 84vh;
}


