.data-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 33px;
}

.single-button {
    margin-top: 20px !important;
    margin-left: 0;
}

.data-title {
    width: 40%;
    text-align: left;
    font-weight: bold;
}